.column 
{
    flex-direction: column;
    justify-content: center;
}

.row 
{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.article-header 
{
    text-align: center;
    padding-top: 2vh;
    width: 400px;
}

.article-body 
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 400px;
}