.column 
{
    flex-direction: column;
    justify-content: center;
}

.row 
{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}

.article-header 
{
    text-align: center;
    padding-top: 2vh;
}

.article-body 
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    max-width: 400px;
}

.game-header 
{
    text-align: center;
    padding-top: 2vh;
}

.game-body 
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    max-width: 400px;
    border-style: solid;
}
.button-search 
{
    
}