.column 
{
    flex-direction: column;
    justify-content: center;
}

.article-header 
{
    text-align: center;
    padding-top: 2vh;
}

.article-body 
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    max-width: 400px;
}