
.container { 
    border: 1px solid black;
    max-width: 400px;
    margin: 0 auto;
    padding: 0;
}
h1 {
    font-family: helvetica;
    margin-left: 20px;
}
/* put font here */
p {
    font-family: 'Roboto', sans-serif;
}
.home-header{
    display: inline-block;
    font-weight: bold;
    text-decoration: underline;
    color: black;
}
.home-font-size-small{
    font-size: 12;
}
.home-font-size-medium {
    font-size: 16;
}
.home-font-size-large {
    font-size: 20px;
}
.home-text-center {
    text-align: center;
}
.home-text-left {
    text-align: left;
}
.home-text-right{
    text-align: right;
}
.home-img-left{
    clear: left; 
    float: left;
    width: 100px;
    height: 100px;
}
.home-img-right{
    clear: right;
    float: right;
    width: 100px;
    height: 100px;
}