.Legal{  
}
.container {
    border: 1px solid black;
    max-width: 400px;
    margin: 0 auto;
    padding: 0;
}
h1 {
    font-family: helvetica;
    margin-left: 20px;
}
/* put font here */
p {
    font-family: 'Roboto', sans-serif;
}
.legal-header{
    display: inline-block;
    font-weight: bold;
    text-decoration: underline;
    color: black;
}
.font-size-small{
    font-size: 12;
}
.font-size-medium {
    font-size: 16;
}
.legal-font-size-large {
    font-size: 20px;
}
.legal-text-center {
    text-align: center;
}
.legal-text-left {
    text-align: left;
}
.legal-text-right{
    text-align: right;
}