.UserPage {
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    min-width: 400px;
    max-width: 400px;
    margin: 0 auto;
    padding: 0;
}
h1 {
    font-family: helvetica;
    margin-left: 20px;
}
/* put font here */
p {
    font: roboto;
}

.fontSizeSmall{
font-size: 12;
}
.fontSizeMedium {
    font-size: 16;
}
.fontSizeLarge {
    font-size: 20px;
}
.textCenter {
    text-align: center;
}
.userImageCenter{
    clear: right;
    float: center;
    width: 200px;
    height: 200px;
}
.profilePic{
    border-radius: 50%;
    width: 400;
    height: 400;
}
.userGame{
    display: 'block';
    position: 'static'
}